* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-image: linear-gradient(to right, #1e132b, #212922);
}

.navbar-logo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 4px;
}

.navbar-titulo {
  display: inline;
}

.navbar-nav {
  display: flex;
  justify-content: end;
}

.nav-link {
  align-items: end;
  color: #FFFFFF;
}
.nav-link:active {
  background-color: #ccf;
  border-radius: 16px;
}
.nav-link:hover {
  background-color: #ccf;
  border-radius: 6px;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.grid-info-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 24px;
}

.main_img {
  width: 400px;
  height: 400px;
  padding: 10px;
  border-radius: 20px;
}

.main_h4 {
  margin-bottom: 40px;
  padding: 10px 0 10px 0;
  font-size: 2.5rem;
  background-color: #242537;
  border-radius: 6px;
}
.main_h4 a {
  text-decoration: none;
  color: #fff;
}

.main_p_f {
  color: #FFF;
  font-size: 1.2rem;
}

.main_p_s {
  color: #FFF;
  font-size: 1.2rem;
}

.main_p_t {
  color: #FFF;
  font-size: 1.2rem;
}

.reserva {
  text-decoration: none;
  color: #fff;
  background-color: #242537;
  border-radius: 6px;
  padding: 0 4px 4px 4px;
  transition: all 0.25s;
}
.reserva:hover {
  background-color: #444557;
  color: #fff;
}

.reserva-link {
  color: #fff;
  text-decoration: none;
}

.article-podcast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}

.iframe-yt {
  border-radius: 15px;
  height: 40vh;
  width: 80vw;
  margin-bottom: 20px;
}

.iframe-podcast {
  height: 200px;
  width: 350px;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  background-image: linear-gradient(to right, #1e132b, #212424);
  height: 25vh;
  padding-top: 10px;
}

.footerlogo-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 15px;
}

.footer-ul {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 20px;
}

.footer_ul-li {
  list-style: none;
  padding: 0;
}

#copyright {
  text-align: center;
  color: #fff;
  font-size: 2vh;
  padding-top: 80px;
}

.footer_logo {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 4px;
}

.socialmedia {
  width: 2.2rem;
  height: 2.2rem;
  margin-top: 5px;
}

.h3_iframe {
  font-size: 3rem;
}

@media (max-width: 576px) {
  .footer_logo {
    display: none;
  }
  #footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  #copyright {
    padding-top: 10px;
    margin: 0;
  }
  .footer-ul {
    padding-left: 0;
  }
  .main_titulo {
    text-align: center;
    padding: 5px;
    margin: 10px 0 0 10px;
    font-size: 2.5rem;
    display: inline-block;
    font-family: "Crimson Text", serif;
  }
  .main_img {
    width: 275px;
    height: 275px;
  }
  .main_h4 {
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 10px 0 10px 0;
    font-size: 1.5rem;
    background-color: #242537;
    border-radius: 6px;
  }
  .main_h4 a {
    text-decoration: none;
    color: #fff;
  }
  .flex-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6C718E;
    margin-top: 10px;
    border-radius: 15px;
    margin: 10px 10px;
  }
  .iframe-yt {
    border-radius: 15px;
    height: 40vh;
    width: 70vw;
    margin-bottom: 30px;
  }
  .iframe-podcast {
    height: 200px;
    width: 350px;
    padding-top: 30px;
  }
  .h3_iframe {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
}
@media (min-width: 576px) {
  .footer_logo {
    display: none;
  }
  #footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  #copyright {
    padding-top: 10px;
    margin: 0;
  }
  .footer-ul {
    padding-left: 0;
  }
  .main_titulo {
    text-align: center;
    padding: 5px;
    margin: 10px 0 0 10px;
    font-size: 3rem;
    display: inline-block;
    font-family: "Crimson Text", serif;
  }
  .main_h4 {
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 10px 0 10px 0;
    font-size: 2rem;
    border: solid 2px #242537;
    border-radius: 6px;
  }
  .main_h4 a {
    text-decoration: none;
    color: #fff;
  }
  .flex-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6C718E;
    margin-top: 10px;
    border-radius: 15px;
    margin: 10px 10px;
  }
  .iframe-yt {
    border-radius: 15px;
    height: 70vh;
    width: 70vw;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  .iframe-podcast {
    width: 70vw;
    height: 50vh;
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  #footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    background-color: #778;
    height: 20vh;
    padding-top: 10px;
  }
  .footerlogo-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 15px;
  }
  .footer-ul {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .footer_ul-li {
    list-style: none;
    padding: 0;
  }
  #copyright {
    text-align: center;
    color: #fff;
    font-size: 2vh;
    padding-top: 80px;
  }
  .footer_logo {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 4px;
    display: flex;
  }
  .socialmedia {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 5px;
  }
  .flex-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-color: #6C718E;
    margin-top: 10px;
    border-radius: 15px;
  }
  .main_titulo {
    text-align: center;
    padding: 5px;
    margin: 10px 0 0 10px;
    font-size: 3rem;
    display: inline-block;
    font-family: "Crimson Text", serif;
  }
}
.titulo {
  margin: 10px;
}

.info {
  text-align: center;
}

.input {
  margin-bottom: 9px;
  background: transparent;
  border-bottom: #67d;
}

.link-pago {
  text-decoration: none;
  color: #117;
}

.info-center {
  text-align: center;
  margin: 15px 0;
}

.titulo-info {
  text-align: center;
}

.info_container {
  margin-top: 20px;
}

.btn-enviar {
  padding: 5px;
  border-radius: 10px;
  background-color: #1e132b;
  height: 40px;
  width: 300px;
  color: #fff;
  text-decoration: solid;
  transition: all 0.25s;
}
.btn-enviar:hover {
  background-color: #432367;
  color: #fff;
  border: solid 2px #8860c0;
}
.btn-enviar:active {
  background-color: #38244e;
  color: #aaa;
  border: solid 2px #654a8b;
}

.btn-s-container {
  text-align: center;
}

.form-control {
  margin-bottom: 30px;
  margin-top: 10px;
}

#instagram-contacto {
  text-decoration: none;
  color: #ffffff;
}

.info-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-info {
  margin-top: 10px;
}

.contacto-container {
  display: flex;
  flex-direction: column;
  background-color: #654a8b;
  color: #ffffff;
  width: 400px;
  padding: 9px;
  margin-bottom: 10px;
  border-radius: 15px;
}

@media (max-width: 415px) {
  .contacto-container {
    display: flex;
    flex-direction: column;
    background-color: #654a8b;
    color: #ffffff;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 15px;
  }
}
@media (max-width: 720px) {
  .titulo {
    text-align: center;
  }
  .btn-s-container {
    text-align: center;
  }
  .btn-enviar {
    text-align: center;
    height: 40px;
    width: 150px;
  }
}
.img-y {
  width: 80%;
  height: 100%;
  text-align: center;
  border-radius: 18px;
}

.sobremi_p {
  color: #fff;
  background-color: #6c718e;
  padding: 10px;
  border-radius: 6px;
}

@media (max-width: 576px) {
  .sobremi_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
  .hide_text {
    display: none;
  }
}
@media (min-width: 576px) {
  .sobremi_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
  .hide_text {
    display: none;
  }
}
@media (max-width: 768px) {
  .sobremi_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
}
@media (min-width: 768px) {
  .sobremi_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
  .hide_text {
    display: block;
  }
}
.card-container {
  margin-bottom: 30px;
}

.giftcard-info {
  background-color: #ddd;
  padding: 15px;
  margin-bottom: 20px;
}

.boton {
  border-radius: 5px;
  padding: 3px;
  margin: 0 5px;
  background-color: #aad;
  color: #fff;
  border: 2px #66f solid;
}

.col-sm-6 {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

@media (max-width: 570px) {
  .boton-pay-gift {
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 6px;
    border-radius: 6px;
    padding: 1px;
    background-color: #eee;
    color: #22e;
    border-color: #559;
    transition: color 0.2s, background-color 0.2s, width 0.2s, height 0.2s;
  }
  .boton-pay-gift:hover {
    background-color: #120175;
    color: #fff;
    width: 220px;
    height: 40px;
  }
}
@media (min-width: 575px) {
  .boton-pay-gift {
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 6px;
    border-radius: 6px;
    padding: 1px;
    background-color: #eee;
    color: #22e;
    border-color: #559;
    transition: color 0.2s, background-color 0.2s, width 0.2s, height 0.2s;
  }
  .boton-pay-gift:hover {
    background-color: #120175;
    color: #fff;
    width: 220px;
    height: 40px;
  }
}
@media (min-width: 768px) {
  .boton-pay-gift {
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 6px;
    border-radius: 6px;
    padding: 1px;
    background-color: #eee;
    color: #22e;
    border-color: #559;
    transition: color 0.2s, background-color 0.2s, width 0.2s, height 0.2s;
  }
  .boton-pay-gift:hover {
    background-color: #120175;
    color: #fff;
    width: 220px;
    height: 40px;
  }
}
.progreso {
  display: inline-block;
  font-size: 3rem;
  background-color: #FFF212;
  margin: 40px 0 40px 0;
  padding: 18px;
  border: 2px solid #111111;
  border-radius: 7px;
}

.progreso-p {
  font-family: sans-serif;
}

@media (max-width: 576px) {
  .progreso {
    margin: 30px;
    font-size: 2rem;
  }
}
.background-img1 {
  background-image: url(/img/20230223_134319_0000.png);
}

.titulo {
  margin: 10px;
}

.grid-container-lecturas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
  margin: 0px 20px 20px 20px;
  text-align: center;
  background-color: #1e132b;
  border-radius: 8px;
  border: 3px solid #ddd;
}

.flexbox-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}

.boton-pay {
  width: 250px;
  height: 30px;
  text-align: center;
  margin-top: 6px;
  border-radius: 6px;
  padding: 1px;
  background-color: #eee;
  color: #22e;
  border-color: #559;
  transition: color 0.2s, background-color 0.2s, width 0.2s, height 0.2s;
}
.boton-pay:hover {
  background-color: #120175;
  color: #fff;
  width: 260px;
  height: 40px;
}

.boton-flex {
  display: flex;
  flex-direction: column;
}

.lectura-img {
  width: 100%;
  height: 70%;
  border-radius: 9px;
  border: #fff 2px solid;
}

.precio_tiradas {
  font-size: 3.3rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}

.info-producto {
  font-family: "Source Sans Pro", sans-serif;
  font-style: oblique;
  background-color: #333;
  padding: 5px;
  margin-top: 5px;
  border-radius: 8px;
  color: #fff;
}

.metodos-de-pago {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 528px) {
  .grid-container-lecturas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
  }
  .grid-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    text-align: center;
    background-color: #1e132b;
    border-radius: 8px;
  }
  .precio_tiradas {
    font-size: 2.5rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
  }
  .lectura-img {
    width: 90%;
    height: 50%;
    border-radius: 9px;
    border: #fff 2px solid;
  }
}
@media (max-width: 1030px) {
  .grid-container-lecturas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .precio_tiradas {
    font-size: 2.5rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
  }
}
.exito-flex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.exito {
  font-size: 2.5rem;
  color: #ae6;
}

.btn-inicio {
  margin-top: 60px;
  padding: 5px;
  border-radius: 10px;
  border-color: #bbf;
  background-color: #aaf;
  height: 60px;
  width: 300px;
  color: #fff;
  text-decoration: solid;
  font-size: 1.5rem;
}

.btn-inicio-container {
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 380px) {
  .btn-inicio {
    margin-top: 60px;
    padding: 5px;
    border-radius: 10px;
    border-color: #bbf;
    background-color: #aaf;
    height: 60px;
    width: 150px;
    color: #fff;
    text-decoration: solid;
    font-size: 1rem;
  }
}
.exito {
  font-size: 1.75rem;
  color: #ae6;
}

.background-img {
  background-image: url(../img/20230223_134319_0000.png);
}

.background-img2 {
  background-image: url(../img/20230223_134319_0001.png);
}

/*# sourceMappingURL=style.css.map */
