* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-image: linear-gradient(to bottom, #67d, #89f);
}

.navbar-logo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 4px;
}

.navbar-titulo {
  display: inline;
}

.navbar-nav {
  display: flex;
  justify-content: end;
}

.nav-link {
  align-items: end;
}

.main_titulo {
  text-align: left;
  margin: 14px 10px;
  padding: 5px;
  font-size: 3rem;
  background-color: #fff;
  display: inline-block;
  font-family: "Cinzel", serif;
}

.grid-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.33fr 0.33fr 0.33fr;
  margin: 15px;
  padding: 10px;
  border-radius: 24px;
}

.flex-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: #fff solid 1px;
}

.main_img {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
}

.main_p_f a {
  text-decoration: none;
}

.main_p_s a {
  text-decoration: none;
}

.main_p_t a {
  text-decoration: none;
}

.wp {
  width: 69px;
  height: 69px;
  margin: 18px;
}

.wp-container {
  float: right;
  position: fixed;
  width: 100vw;
  text-align: end;
  z-index: 100;
}

.iframe-yt {
  border-radius: 15px;
  height: 40vh;
  width: 80vw;
  margin-bottom: 20px;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  background-image: linear-gradient(to top, #67d, #89f);
  height: 25vh;
  padding-top: 10px;
}

.footerlogo-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 15px;
}

.footer-ul {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 20px;
  z-index: 150;
}

.footer_ul-li {
  list-style: none;
  padding: 0;
}

#copyright {
  text-align: center;
  color: #fff;
  font-size: 2vh;
  padding-top: 80px;
}

.copyright-container {
  z-index: 1000;
}

.footer_logo {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 4px;
}

.socialmedia {
  width: 2.2rem;
  height: 2.2rem;
  margin-top: 5px;
}

.titulo {
  margin: 10px;
}

.info {
  text-align: center;
}

.input {
  margin-bottom: 9px;
  background: transparent;
  border-bottom: #67d;
}

.link-pago {
  text-decoration: none;
  color: #117;
}

.info-center {
  text-align: center;
  margin: 15px 0;
}

.titulo-info {
  text-align: center;
}

.info_container {
  margin-top: 20px;
}

.btn-enviar {
  padding: 5px;
  border-radius: 10px;
  border-color: #bbf;
  background-color: #aaf;
  height: 40px;
  width: 300px;
  color: #fff;
  text-decoration: solid;
}

.btn-s-container {
  text-align: center;
}

.form-control {
  margin-bottom: 30px;
  margin-top: 10px;
}

@media (max-width: 720px) {
  .titulo {
    text-align: center;
  }
  .btn-s-container {
    text-align: center;
  }
  .btn-enviar {
    text-align: center;
    height: 40px;
    width: 150px;
  }
}
.flex-container-sobremi {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  justify-content: center;
  margin: 50px 0;
}

.img-y {
  width: 30vw;
  height: 70vh;
}

.texto-sobremi-container {
  display: flex;
  justify-content: center;
}

.p-sobremi {
  display: inline;
  text-align: center;
}

.row {
  margin: 30px 0;
}

@media (max-width: 1300px) {
  .img-y {
    width: 50vw;
    height: 350px;
    margin-bottom: 30px;
  }
}
@media (max-width: 765px) {
  .img-y {
    width: 35vw;
    height: 350px;
    margin-bottom: 30px;
  }
}
.giftcard-info {
  background-color: #ddd;
  padding: 15px;
}

.boton {
  border-radius: 5px;
  padding: 3px;
  margin: 0 5px;
  background-color: #aad;
  color: #fff;
  border: 2px #66f solid;
}

.col-sm-6 {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.img-combos {
  width: 300px;
  height: 300px;
  border-radius: 3px;
  border: solid 2px #77f;
}

.combo-container {
  background-color: #bbf;
  padding: 30px 0px 20px 0px;
  border-radius: 10px;
  border: solid 2px #77f;
}

.text-combos-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-combo {
  margin-top: 10px;
  background-color: #77f;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  padding: 3px;
}

.textos-combo {
  padding-bottom: 50px;
}

.precio-combo {
  font-size: 3rem;
}

.desc-combo {
  font-size: 1.25rem;
}

.flex-img-info-container {
  margin-left: 20px;
}

@media (max-width: 762px) {
  .boton-flex {
    text-align: center;
  }
  .text-combos-container {
    text-align: center;
  }
}
.background-img1 {
  background-image: url(/img/20230223_134319_0000.png);
}

.titulo {
  margin: 10px;
}

.grid-container-lecturas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
  margin: 0px 20px 20px 20px;
  text-align: center;
  background-color: #ddd;
  border-radius: 8px;
}

.flexbox-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}

.boton-pay {
  width: 250px;
  height: 30px;
  text-align: center;
  margin-top: 6px;
  border-radius: 6px;
  padding: 1px;
  background-color: #eee;
  color: #22e;
  border-color: #55b;
  transition: color 0.2s, background-color 0.2s, width 0.2s, height 0.2s;
}
.boton-pay:hover {
  background-color: #69d;
  color: #fff;
  width: 260px;
  height: 40px;
}

.boton-flex {
  display: flex;
  flex-direction: column;
}

.lectura-img {
  min-height: 200px;
  max-height: 300px;
  width: 200px;
}

.precio_tiradas {
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #000;
}

.info-producto {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  background-color: #99b;
  padding: 5px;
  margin-top: 5px;
  border-radius: 8px;
  color: #fff;
}

.metodos-de-pago {
  font-size: 1.5rem;
  color: #000;
}

@media (max-width: 1050px) {
  .grid-container-lecturas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .grid-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 16px;
    margin: 0px 20px 20px 20px;
    text-align: center;
    background-color: #ddd;
    border-radius: 8px;
  }
  .lectura-img {
    width: 20rem;
    height: 40rem;
  }
  .info-producto {
    margin-top: 15px;
    font-size: 1.5rem;
  }
  .precio_tiradas {
    font-size: 6rem;
  }
}
.background-img {
  background-image: url(../img/20230223_134319_0000.png);
}

.background-img2 {
  background-image: url(../img/20230223_134319_0001.png);
}

/*# sourceMappingURL=style.css.map */
