* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-logo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 4px;
}

.navbar-titulo {
  display: inline;
}

.navbar-nav {
  display: flex;
  justify-content: end;
}

.nav-link {
  align-items: end;
  color: #FFFFFF;
}
.nav-link:active {
  background-color: #ccf;
  border-radius: 16px;
}
.nav-link:hover {
  color: #fff;
  background-color: rgba(24, 4, 121, 0.6196078431);
  border-radius: 6px;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.cabecera-muyuraniana1 {
  width: 98.7vw;
}

.grid-info-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 24px;
}

.main_img {
  width: 400px;
  height: 400px;
  padding: 10px;
  border-radius: 20px;
}

.main_p_f {
  color: #FFF;
  font-size: 1.2rem;
  font-family: "Questrial", sans-serif;
}

.main_p_s {
  color: #FFF;
  font-size: 1.2rem;
  font-family: "Questrial", sans-serif;
}

.main_p_t {
  color: #FFF;
  font-size: 1.2rem;
  font-family: "Questrial", sans-serif;
}

.reserva {
  text-decoration: none;
  color: #fff;
  background-color: #1a033c;
  border-radius: 6px;
  padding: 0 4px 4px 4px;
  margin-top: 20px;
  transition: all 0.5s;
  border: solid 1px transparent;
}
.reserva:hover {
  background-color: #393a59;
  color: #fff;
}

.reserva-link {
  color: #fff;
  text-decoration: none;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  background-color: rgba(180, 216, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3.5px);
  height: 25vh;
  padding-top: 10px;
}

.footerlogo-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 15px;
}

.footer-ul {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 20px;
}

.footer_ul-li {
  list-style: none;
  padding: 0;
}

#copyright {
  text-align: center;
  color: #fff;
  font-size: 2vh;
  padding-top: 80px;
  font-family: "Questrial", sans-serif;
}

.footer_logo {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 4px;
}

.socialmedia {
  width: 2.2rem;
  height: 2.2rem;
  margin-top: 5px;
}

@media (max-width: 576px) {
  .footer_logo {
    display: none;
  }
  #footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-top: 26px;
  }
  #copyright {
    padding-top: 10px;
    margin: 0;
    font-family: "Questrial", sans-serif;
  }
  .footer-ul {
    padding-left: 0;
  }
  .main_img {
    width: 275px;
    height: 275px;
    margin: auto 10px;
  }
  .main_h4-mobile {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 8px;
    font-size: 1.5rem;
    font-family: "Questrial", sans-serif;
    color: #fff;
  }
  .main_h4 {
    display: none;
  }
  .flex-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(180, 216, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3.5px);
    margin-top: 10px;
    padding: 24px;
    border-radius: 15px;
    margin: 10px 10px;
  }
  .button-inicio {
    padding: 10px;
  }
  .cabecera-muyuraniana2 {
    height: 30vh;
    width: 99.9vw;
    position: absolute;
  }
  .cabecera-muyuraniana1 {
    display: none;
  }
}
@media (min-width: 576px) {
  .footer_logo {
    display: none;
  }
  #footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  #copyright {
    padding-top: 10px;
    margin: 0;
    font-family: "Questrial", sans-serif;
  }
  .footer-ul {
    padding-left: 0;
  }
  .main_titulo {
    text-align: center;
    padding: 5px;
    margin: 10px 0 0 10px;
    font-size: 5rem;
    display: inline-block;
    font-family: "Bigelow Rules";
  }
  .main_h4-mobile {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 8px;
    font-size: 2rem;
    font-family: "Questrial", sans-serif;
    color: #fff;
  }
  .main_h4 {
    display: none;
  }
  .flex-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(180, 216, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3.5px);
    margin-top: 10px;
    padding: 24px;
    border-radius: 15px;
    margin: 10px 10px;
  }
  .button-inicio {
    padding: 10px;
  }
  .cabecera-muyuraniana2 {
    height: 42vh;
    width: 99.9vw;
    position: absolute;
  }
  .cabecera-muyuraniana1 {
    display: none;
  }
}
@media (min-width: 768px) {
  #footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    height: 20vh;
    padding-top: 10px;
    margin-top: 30px;
  }
  .footerlogo-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 15px;
  }
  .footer-ul {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .footer_ul-li {
    list-style: none;
    padding: 0;
  }
  #copyright {
    text-align: center;
    color: #fff;
    font-size: 2vh;
    padding-top: 80px;
    font-family: "Questrial", sans-serif;
  }
  .footer_logo {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 4px;
    display: flex;
  }
  .socialmedia {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 5px;
    transition: 0.3s;
  }
  .socialmedia:hover {
    width: 2.9rem;
    height: 2.9rem;
  }
  .flex-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(180, 216, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3.5px);
    margin-top: 10px;
    border-radius: 15px;
  }
  .img_container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .main_titulo {
    text-align: center;
    padding: 5px;
    margin: 10px 0 0 10px;
    font-size: 3rem;
    display: inline-block;
    font-family: "Crimson Text", serif;
  }
  .main_h4-mobile {
    display: none;
  }
  .main_h4 {
    display: block;
    margin-bottom: 25px;
    padding: 10px 0 5px 0;
    font-size: 2.5rem;
    font-family: "Questrial", sans-serif;
    color: #ddeefa;
  }
  .p_main_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.33fr 0.33fr 0.33fr;
  }
  .button-inicio {
    padding: 10px;
  }
  .navbar {
    margin-bottom: 90px;
  }
  .cabecera-muyuraniana2 {
    height: 59vh;
    width: 99.9vw;
    position: absolute;
  }
  .cabecera-muyuraniana1 {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar {
    position: absolute;
  }
  .cabecera-muyuraniana1 {
    display: block;
  }
  .cabecera-muyuraniana2 {
    display: none;
  }
}
.info {
  text-align: center;
}

.input {
  margin-bottom: 9px;
  background: transparent;
  border-bottom: #67d;
}

.link-pago {
  text-decoration: none;
  color: #117;
}

.info-center {
  text-align: center;
  margin: 15px 0;
}

.info_container {
  margin-top: 20px;
}

.btn-enviar {
  background-color: #654a8b;
  width: 300px;
  height: 40px;
}
.btn-enviar:active {
  background-color: #957cb0;
  color: #aaa;
}

.btn-s-container {
  text-align: center;
  font-family: "Questrial", sans-serif;
}

.form-control {
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: "Questrial", sans-serif;
}

#instagram-contacto {
  text-decoration: solid;
  color: #ffffff;
  font-family: "Questrial", sans-serif;
}

.info-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.contacto-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(180, 216, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3.5px);
  color: #ffffff;
  width: 400px;
  margin: 30px 0;
  padding: 15px;
  border-radius: 15px;
  font-family: "Questrial", sans-serif;
}

.p_contacto_info {
  margin: 10px 0;
}

.form-info {
  text-align: center;
  color: #fff;
  font-family: "Questrial", sans-serif;
}

.label {
  color: #fff;
  font-family: "Questrial", sans-serif;
}

@media (max-width: 415px) {
  .contacto-container {
    display: flex;
    flex-direction: column;
    background-color: #654a8b;
    color: #ffffff;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 15px;
  }
}
@media (max-width: 720px) {
  .titulo {
    text-align: center;
  }
  .btn-s-container {
    text-align: center;
  }
  .btn-enviar {
    text-align: center;
    height: 40px;
    width: 150px;
  }
}
.img-y {
  width: 70%;
  height: 10%;
  border-radius: 18px;
  padding: 10px;
}

.sobremi_p {
  color: #fff;
  background-color: rgba(180, 216, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3.5px);
  padding: 10px;
  border-radius: 6px;
  font-family: "Questrial", sans-serif;
}

@media (max-width: 576px) {
  .sobremi_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
  .hide_text {
    display: none;
  }
}
@media (min-width: 576px) {
  .sobremi_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
  .hide_text {
    display: none;
  }
}
@media (max-width: 768px) {
  .sobremi_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
}
@media (min-width: 768px) {
  .sobremi_grid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
  .hide_text {
    display: block;
  }
}
.giftcard-info {
  font-family: "Questrial", sans-serif;
  color: #fff;
}

.gift-container {
  margin: 24px 0;
  font-family: "Questrial", sans-serif;
}

.img-combos {
  width: 300px;
  height: 300px;
  border-radius: 3px;
  border: solid 2px #77f;
}

.combo-container {
  background-color: #1e132b;
  padding: 30px 0px 20px 0px;
  border-radius: 10px;
  border: solid 2px #77f;
  margin: 30px;
  font-family: "Questrial", sans-serif;
}

.text-combos-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-combo {
  width: 50%;
  margin-top: 10px;
  background-color: #333;
  text-align: center;
  border: #1200fd;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  padding: 3px;
}

.precio-combo {
  font-size: 3rem;
  color: #fff;
}

.desc-combo {
  font-size: 1.25rem;
  color: #fff;
}

.flex-img-info-container {
  margin-left: 20px;
}

@media (max-width: 400px) {
  .img-combos {
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 762px) {
  .boton-flex {
    text-align: center;
  }
  .text-combos-container {
    text-align: center;
  }
}
.grid-container-lecturas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.grid-card {
  display: grid;
  grid-template-columns: 0.9fr 0.9fr;
  padding: 16px;
  margin: 0px 20px 20px 20px;
  text-align: center;
  background-color: rgba(180, 216, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3.5px);
  border-radius: 8px;
  font-family: "Questrial", sans-serif;
}

.flexbox-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  font-family: "Questrial", sans-serif;
}

.boton-pay {
  width: 250px;
  height: 30px;
  text-align: center;
  margin-top: 6px;
  border-radius: 6px;
  padding: 1px;
  background-color: #1a033c;
  color: #fff;
  border-color: transparent;
  transition: color 0.2s, background-color 0.2s, width 0.2s, height 0.2s;
  font-family: "Questrial", sans-serif;
}
.boton-pay:hover {
  background-color: #450e9e;
  color: #fff;
  width: 260px;
  height: 40px;
}
.boton-pay:active {
  color: #8b43ff;
  width: 260px;
  height: 40px;
  background-color: #c1c1c4;
}

.boton-flex {
  display: flex;
  flex-direction: column;
}

.lectura-img {
  width: 80%;
  height: 70%;
  border-radius: 9px;
}

.precio-tiradas {
  font-size: 2.8rem;
  color: #fff;
}

.info-producto {
  padding: 5px;
  margin-top: 5px;
  border-radius: 8px;
  color: #fff;
  font-size: 2.5rem;
}

.metodos-de-pago {
  font-size: 1.5rem;
  color: #fff;
}

@media (max-width: 528px) {
  .grid-container-lecturas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
  }
  .grid-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    text-align: center;
    background-color: #1e132b;
    border-radius: 8px;
  }
  .precio_tiradas {
    font-size: 2.5rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
  }
  .lectura-img {
    width: 90%;
    height: 50%;
    border-radius: 9px;
    border: #fff 2px solid;
  }
}
@media (max-width: 1030px) {
  .grid-container-lecturas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .precio_tiradas {
    font-size: 2.5rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
  }
}
.exito-flex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.exito {
  font-size: 2.5rem;
  color: #ae6;
}

.btn-inicio {
  margin-top: 60px;
  padding: 5px;
  border-radius: 10px;
  border-color: #bbf;
  background-color: #aaf;
  height: 60px;
  width: 300px;
  color: #fff;
  text-decoration: solid;
  font-size: 1.5rem;
}

.btn-inicio-container {
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 380px) {
  .btn-inicio {
    margin-top: 60px;
    padding: 5px;
    border-radius: 10px;
    border-color: #bbf;
    background-color: #aaf;
    height: 60px;
    width: 150px;
    color: #fff;
    text-decoration: solid;
    font-size: 1rem;
  }
}
.exito {
  font-size: 1.75rem;
  color: #ae6;
}

.background {
  background-image: url(../img/backg2.png);
}

.cabecera {
  width: 98vw;
}

@media (max-width: 992px) {
  .cabecera {
    margin-top: -120px;
  }
}
@media (max-width: 820px) {
  .cabecera {
    margin-top: 0px;
    width: 100vw;
  }
}
@media (max-width: 520px) {
  .cabecera {
    margin-top: 0px;
    height: 30vh;
    width: 100vw;
  }
}

/*# sourceMappingURL=style.css.map */
