@use './partials/reset';
@use './partials/index';
@use './partials/vars';
@use './partials/info';
@use './partials/contacto';
@use './partials/sobre_mi';
@use './partials/giftcard';
@use './partials/taller-cursos';
@use './partials/lecturas-de-tarot';
@use './partials/_mensaje-exito.scss';

.background {
    background-image: url(../img/backg1.png);
}

// .bcg-inicio{
//     background-image: url(../img/cabeceras/muyuraniana-inicio.png);
//     background-size: auto;
// } 

.cabecera {
    width: 98vw;
}

@media (max-width: 992px){
    .cabecera {
        margin-top: -120px;
    }
}
@media (max-width: 820px){
    .cabecera {
        margin-top: 0px;
        width: 100vw;
    }
}
@media (max-width: 520px){
    .cabecera {
        margin-top: 0px;
        height: 30vh;
        width: 100vw;
    }
}