.info-center {
  text-align: center;
  margin: 15px 0;
}

.info_container {
  margin-top: 20px;
}

.btn-enviar {
  background-color: #654a8b;
  width: 300px;
  height: 40px;
  &:active {
    background-color: #957cb0;
    color: #aaa;
  }
}

.btn-s-container {
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.form-control {
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: 'Questrial', sans-serif;
}

#instagram-contacto {
  text-decoration: solid;
  color: #ffffff;
  font-family: 'Questrial', sans-serif;
}

.info-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.contacto-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(180, 216, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3.5px);
  color: #ffffff;
  width: 400px;
  margin: 30px 0;
  padding: 15px;
  border-radius: 15px;
  font-family: 'Questrial', sans-serif;
}

.p_contacto_info {
  margin: 10px 0;
}

.form-info {
  text-align: center;
  color: #fff;
  font-family: 'Questrial', sans-serif;
}

.label {
  color: #fff;
  font-family: 'Questrial', sans-serif;
}

@media (max-width: 415px) {
  .contacto-container {
    display: flex;
    flex-direction: column;
    background-color: #654a8b;
    color: #ffffff;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 15px;
  }
}

@media (max-width: 720px) {
  .titulo {
    text-align: center;
  }

  .btn-s-container {
    text-align: center;
  }

  .btn-enviar {
    text-align: center;
    height: 40px;
    width: 150px;
  }
}