
.giftcard-info {
    background-color: #ddd;
    padding: 15px;
  }
  
  /* .explicacion-gift {
    white-space: break-spaces;
  } */
   
  /* .card-body {
    display: flex;
  } */
  
  .boton {
    border-radius: 5px;
    padding: 3px;
    margin: 0 5px;
    background-color: #aad;
    color: #fff;
    border: 2px #66f solid;
  }
  
  .col-sm-6 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px
  }