@use './vars';

.navbar-logo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4px;
}

.navbar-titulo {
    display: inline;
}

.navbar-nav {
    display: flex;
    justify-content: end;
}

.nav-link {
    align-items: end;
    color: #FFFFFF;

    &:active {
        background-color: #ccf;
        border-radius: 16px;
    }

    &:hover {
        color: #fff;
        background-color: #1804799e;
        border-radius: 6px;
    }
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.cabecera-muyuraniana1 {
    width: 98.7vw;
}

.grid-info-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 24px;
}

.main_img {
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
}

.main_p_f {
    color: #FFF;
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
}

.main_p_s {
    color: #FFF;
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
}

.main_p_t {
    color: #FFF;
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
}

.reserva {
    text-decoration: none;
    color: #fff;
    background-color: #1a033c;
    border-radius: 6px;
    padding: 0 4px 4px 4px;
    margin-top: 20px;
    transition: all 0.5s;
    border: solid 1px transparent;

    &:hover {
        background-color: #393a59;
        color: #fff;
    }
}

.reserva-link {
    color: #fff;
    text-decoration: none;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    background-color: rgba(180, 216, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3.5px);
    height: 25vh;
    padding-top: 10px;
}

.footerlogo-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 15px;

}

.footer-ul {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
    padding-top: 20px;
}

.footer_ul-li {
    list-style: none;
    padding: 0;
}

#copyright {
    text-align: center;
    color: #fff;
    font-size: 2vh;
    padding-top: 80px;
    font-family: 'Questrial', sans-serif;
}

.footer_logo {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 4px;
}

.socialmedia {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 5px;
}

@media (max-width: 576px) {
    .footer_logo {
        display: none;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        margin-top: 26px;
    }

    #copyright {
        padding-top: 10px;
        margin: 0;
        font-family: 'Questrial', sans-serif;
    }

    .footer-ul {
        padding-left: 0;
    }

<<<<<<< HEAD
    .main_titulo {
        text-align: center;
        padding: 5px;
        margin: 10px 0 0 10px;
        font-size: 2.5rem;
        display: inline-block;
        font-family: 'Crimson Text', serif;
    }

=======
>>>>>>> correcciones
    .main_img {
        width: 275px;
        height: 275px;
        margin: auto 10px;
    }

    .main_h4-mobile {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 8px;
        font-size: 1.5rem;
<<<<<<< HEAD
        background-color: #242537;
        border-radius: 6px;
=======
        font-family: 'Questrial', sans-serif;
        color: #fff;
    }
>>>>>>> correcciones

    .main_h4 {
        display: none;
    }

    .flex-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
<<<<<<< HEAD
        background-color: #6C718E;
=======
        background-color: rgba(180, 216, 255, 0.1);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(3.5px);
>>>>>>> correcciones
        margin-top: 10px;
        padding: 24px;
        border-radius: 15px;
        margin: 10px 10px;
    }

    .button-inicio {
        padding: 10px;
    }

    .cabecera-muyuraniana2 {
        height: 30vh;
        width: 99.9vw;
        position: absolute;
    }

    .cabecera-muyuraniana1 {
        display: none;
    }
}

@media (min-width: 576px) {
    .footer_logo {
        display: none;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    #copyright {
        padding-top: 10px;
        margin: 0;
        font-family: 'Questrial', sans-serif;
    }

    .footer-ul {
        padding-left: 0;
    }

    .main_titulo {
        text-align: center;
        padding: 5px;
        margin: 10px 0 0 10px;
        font-size: 3rem;
        display: inline-block;
        font-family: 'Crimson Text', serif;
    }

    .main_h4-mobile {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 8px;
        font-size: 2rem;
<<<<<<< HEAD
        border: solid 2px #242537;
        border-radius: 6px;
=======
        font-family: 'Questrial', sans-serif;
        color: #fff;
    }
>>>>>>> correcciones

    .main_h4 {
        display: none;
    }

    .flex-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
<<<<<<< HEAD
        background-color: #6C718E;
=======
        background-color: rgba(180, 216, 255, 0.1);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(3.5px);
>>>>>>> correcciones
        margin-top: 10px;
        padding: 24px;
        border-radius: 15px;
        margin: 10px 10px;
    }

    .button-inicio {
        padding: 10px;
    }

    .cabecera-muyuraniana2 {
        height: 42vh;
        width: 99.9vw;
        position: absolute;
    }

    .cabecera-muyuraniana1 {
        display: none;
    }
}

@media (min-width: 768px) {
    #footer {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-around;
        height: 20vh;
        padding-top: 10px;
        margin-top: 30px;
    }

    .footerlogo-container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 15px;

    }

    .footer-ul {
        display: flex;
        flex-flow: row;
        align-content: center;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    .footer_ul-li {
        list-style: none;
        padding: 0;
    }

    #copyright {
        text-align: center;
        color: #fff;
        font-size: 2vh;
        padding-top: 80px;
        font-family: 'Questrial', sans-serif;
    }

    .footer_logo {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 4px;
        display: flex;
    }

    .socialmedia {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 5px;
        transition: 0.3s;

        &:hover {
            width: 2.9rem;
            height: 2.9rem;
        }
    }

    .flex-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        background-color: rgba(180, 216, 255, 0.1);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(3.5px);
        margin-top: 10px;
        border-radius: 15px;
    }

    .img_container {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .main_titulo {
        text-align: center;
        padding: 5px;
        margin: 10px 0 0 10px;
        font-size: 3rem;
        display: inline-block;
        font-family: 'Crimson Text', serif;
    }

    .main_h4-mobile {
        display: none;
    }

    .main_h4 {
        display: block;
        margin-bottom: 25px;
        padding: 10px 0 5px 0;
        font-size: 2.5rem;
        font-family: 'Questrial', sans-serif;
        color: #ddeefa;
    }

    .p_main_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.33fr 0.33fr 0.33fr;
    }

    .button-inicio {
        padding: 10px;
    }

    .navbar {
        margin-bottom: 90px;
    }

    .cabecera-muyuraniana2 {
        height: 59vh;
        width: 99.9vw;
        position: absolute;
    }

    .cabecera-muyuraniana1 {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
    }
    .cabecera-muyuraniana1 {
        display: block;
    }
    .cabecera-muyuraniana2 {
        display: none;
    }
}