@use './vars';

.navbar {
    background-image: linear-gradient(to right, #1e132b, #212922);
}

.navbar-logo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4px;
}

.navbar-titulo {
    display: inline;
}

.navbar-nav {
    display: flex;
    justify-content: end;
}

.nav-link {
    align-items: end;
    color: #FFFFFF;

    &:active {
        background-color: #ccf;
        border-radius: 16px;
    }

    &:hover {
        background-color: #ccf;
        border-radius: 6px;
    }
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}

.pre {
    padding-top: 24px;
    margin-right: 50px;
}

#h1_mu {
    display: inline-block;
}

.grid-info-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 24px;
}

.main_img {
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
}

.main_p_f {
    color: #FFF;
    font-size: 1.2rem;
}

.main_p_s {
    color: #FFF;
    font-size: 1.2rem;
}

.main_p_t {
    color: #FFF;
    font-size: 1.2rem;
}

.reserva {
    text-decoration: none;
    color: #fff;
    background-color: #242537;
    border-radius: 6px;
    padding: 0 4px 4px 4px;
    transition: all 0.25s;

    &:hover {
        background-color: #444557;
        color: #fff;
    }
}

.reserva-link {
    color: #fff;
    text-decoration: none;
}

.article-podcast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

.iframe-yt {
    border-radius: 15px;
    height: 40vh;
    width: 80vw;
    margin-bottom: 20px;
}

.iframe-podcast {
    height: 200px;
    width: 350px;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    background-image: linear-gradient(to right, #1e132b, #212424);
    height: 25vh;
    padding-top: 10px;
}

.footerlogo-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 15px;

}

.footer-ul {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
    padding-top: 20px;
}

.footer_ul-li {
    list-style: none;
    padding: 0;
}

#copyright {
    text-align: center;
    color: #fff;
    font-size: 2vh;
    padding-top: 80px;
}

.footer_logo {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 4px;
}

.socialmedia {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 5px;
}

.h3_iframe {
    font-size: 3rem;
}


@media (max-width: 576px) {
    .footer_logo {
        display: none;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    #copyright {
        padding-top: 10px;
        margin: 0;
    }

    .footer-ul {
        padding-left: 0;
    }

    .main_titulo {
        text-align: center;
        padding: 5px;
        margin: 10px 0 0 10px;
        font-size: 4rem;
        display: inline-block;
        font-family: 'Bigelow Rules';
    }

    .main_img {
        width: 275px;
        height: 275px;
    }

    .main_h4-mobile {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 8px;
        font-size: 1.5rem;
        color: #fff;
    }

    .main_h4 {
        display: none;
    }

    .flex-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #6C718E;
        margin-top: 10px;
        padding: 24px;
        border-radius: 15px;
        margin: 10px 10px;
    }

    .iframe-yt {
        border-radius: 15px;
        height: 40vh;
        width: 70vw;
        margin-bottom: 30px;
    }

    .iframe-podcast {
        height: 200px;
        width: 350px;
        padding-top: 30px;
    }

    .h3_iframe {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }

}

@media (min-width: 576px) {
    .footer_logo {
        display: none;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    #copyright {
        padding-top: 10px;
        margin: 0;
    }

    .footer-ul {
        padding-left: 0;
    }

    .main_titulo {
        text-align: center;
        padding: 5px;
        margin: 10px 0 0 10px;
        font-size: 5rem;
        display: inline-block;
        font-family: 'Bigelow Rules';
    }

    .main_h4-mobile {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 8px;
        font-size: 2rem;
        color: #fff;
    }

    .main_h4 {
        display: none;
    }

    .flex-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #6C718E;
        margin-top: 10px;
        padding: 24px;
        border-radius: 15px;
        margin: 10px 10px;
    }

    .iframe-yt {
        border-radius: 15px;
        height: 70vh;
        width: 70vw;
        margin-bottom: 20px;
        padding-top: 30px;
    }

    .iframe-podcast {
        width: 70vw;
        height: 50vh;
        padding-top: 30px;
    }
}

@media (min-width: 768px) {
    #footer {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-around;
        background-color: vars.$f-color;
        height: 20vh;
        padding-top: 10px;
    }

    .footerlogo-container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 15px;

    }

    .footer-ul {
        display: flex;
        flex-flow: row;
        align-content: center;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    .footer_ul-li {
        list-style: none;
        padding: 0;
    }

    #copyright {
        text-align: center;
        color: #fff;
        font-size: 2vh;
        padding-top: 80px;
    }

    .footer_logo {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 4px;
        display: flex;
    }

    .socialmedia {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 5px;
    }

    #h1_mu {
        text-align: center;
        display: inline-block;
    }

    .flex-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        background-color: #6C718E;
        margin-top: 10px;
        border-radius: 15px;

    }

    .main_titulo {
        text-align: center;
        padding: 5px;
        margin: 10px 0 0 10px;
        font-size: 3rem;
        display: inline-block;
        font-family: 'Crimson Text', serif;
    }

    .main_h4-mobile {
        display: none;
    }

    .main_h4 {
        display: block;
        margin-bottom: 40px;
        padding: 10px 0 10px 0;
        font-size: 2.5rem;
        color: #fff;
    }

}