@use './vars';

.navbar {
    background-color: vars.$f-color;
}

.navbar-logo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4px;
}

.navbar-titulo {
    display: inline;
}

.navbar-nav {
    display: flex;
    justify-content: end;
    
}


.nav-link {
    align-items: end;
}

.main_titulo {
    text-align: left;
    margin: 10px 0px;
    font-size: 3rem;
}



.wp {
    width: 3rem;
    height: 3rem;
    display: none;
}

.wp-container {
    float: right;
    position: fixed;
}

.iframe-yt {
    border-radius: 15px;
    height: 40vh;
    width: 80vw;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    background-color: vars.$f-color;
    height: 25vh;
    padding-top: 10px;
}

.footerlogo-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 15px;
    
}

.footer-ul {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
    padding-top: 20px;
}

.footer_ul-li {
    list-style: none;
    padding: 0;
}

#copyright {
    text-align: center;
    color: #fff;
    font-size: 2vh;
    padding-top: 80px;
}

.footer_logo {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 4px;
}

.socialmedia {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 5px;
}


