@use './vars';

.titulo {
    margin: 10px;
  }
  
  .info {
    text-align: center;
  }
  
  .input {
    margin-bottom: 9px;
    background: transparent;
    border-bottom: vars.$s-color;
  }
  
  .link-pago {
    text-decoration: none;
    color: #117;
  }