.grid-container-lecturas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
    margin-top: 70px;
    margin-bottom: 70px;

}

.grid-card {
    display: grid;
    grid-template-columns: 0.9fr 0.9fr;
    padding: 16px;
    margin: 0px 20px 20px 20px;
    text-align: center;
    background-color: rgba(180, 216, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3.5px);
    border-radius: 8px;
    font-family: 'Questrial', sans-serif;
}

.flexbox-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    font-family: 'Questrial', sans-serif;
}

.boton-pay {
    width: 250px;
    height: 30px;
    text-align: center;
    margin-top: 6px;
    border-radius: 6px;
    padding: 1px;
    background-color: #1a033c;
    color: #fff;
    border-color: transparent;
    transition: color 0.2s, background-color 0.2s, width 0.2s, height 0.2s;
    font-family: 'Questrial', sans-serif;

    &:hover {
        background-color: #450e9e;
        color: #fff;
        width: 260px;
        height: 40px;
    }
    &:active {
        color: #8b43ff;
        width: 260px;
        height: 40px;
        background-color: #c1c1c4;
    }
}

.boton-flex {
    display: flex;
    flex-direction: column;
}

.lectura-img {
    width: 80%;
    height: 70%;
    border-radius: 9px;
}

.precio-tiradas {
    font-size: 2.8rem;
    color: #fff;
}

.info-producto {
    padding: 5px;
    margin-top: 5px;
    border-radius: 8px;
    color: #fff;
    font-size: 2.5rem;
}

.metodos-de-pago {
    font-size: 1.5rem;
    color: #fff;
}

@media (max-width: 528px) {
    .grid-container-lecturas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
    }

    .grid-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: space-evenly;
        padding: 16px;
        text-align: center;
        background-color: #1e132b;
        border-radius: 8px;
    }

    .precio_tiradas {
        font-size: 2.5rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
    }

    .lectura-img {
        width: 90%;
        height: 50%;
        border-radius: 9px;
        border: #fff 2px solid;
    }
}

@media (max-width: 1030px) {
    .grid-container-lecturas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 20px;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .precio_tiradas {
        font-size: 2.5rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
    }
}