.background-img1 {
    background-image: url(/img/20230223_134319_0000.png);

}

.titulo {
    margin: 10px;
}

.grid-container-lecturas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
    margin-top: 70px;
    margin-bottom: 70px;

}

.grid-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    margin: 0px 20px 20px 20px;
    text-align: center;
    background-color: #1e132b;
    border-radius: 8px;
    border: 3px solid #ddd;
}

.flexbox-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}

.boton-pay {
    width: 250px;
    height: 30px;
    text-align: center;
    margin-top: 6px;
    border-radius: 6px;
    padding: 1px;
    background-color: #eee;
    color: #22e;
    border-color: #559;
    transition: color 0.2s, background-color 0.2s, width 0.2s, height 0.2s;

    &:hover {
        background-color: #120175;
        color: #fff;
        width: 260px;
        height: 40px;
    }
}

.boton-flex {
    display: flex;
    flex-direction: column;
}

.lectura-img {
    width: 100%;
    height: 70%;
    border-radius: 9px;
    border: #fff 2px solid;
}

.precio_tiradas {
    font-size: 3.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.info-producto {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: oblique;
    background-color: #333;
    padding: 5px;
    margin-top: 5px;
    border-radius: 8px;
    color: #fff;
}

.metodos-de-pago {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 528px) {
    .grid-container-lecturas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        // margin: 20px;
        // margin-top: 70px;
        // margin-bottom: 70px;
    }

    .grid-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: space-evenly;
        padding: 16px;
        text-align: center;
        background-color: #1e132b;
        border-radius: 8px;
    }

    .precio_tiradas {
        font-size: 2.5rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
    }

    .lectura-img {
        width: 90%;
        height: 50%;
        border-radius: 9px;
        border: #fff 2px solid;
    }
}

@media (max-width: 1030px) {
    .grid-container-lecturas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 20px;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .precio_tiradas {
        font-size: 2.5rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
    }
}