.progreso {
    display: inline-block;
    font-size: 3rem;
    background-color: #FFF212;
    margin: 40px 0 40px 0;
    padding: 18px;
    border: 2px solid #111111;
    border-radius: 7px;
}

.progreso-p {
    font-family: sans-serif;
}

@media (max-width: 576px){
    .progreso {
        margin: 30px;
        font-size: 2rem;
    }
}